<h2><%= @merchant.name %> Discounts</h2>
<div id='current_discounts'>
    <% @merchant.bulk_discounts.each do |discount| %>
        <p><b><%= link_to "Discount #{discount.id}", merchant_discount_path(@merchant, discount) %></b><br>
        Percentage Discount - <%= discount.percentage_discount %>%<br>
        Quantity Threshold - <%= discount.quantity_threshold %></p>
    <% end %>
</div>
<div id='new_discount'>
    <p><%= link_to 'Create New Discount', new_merchant_discount_path(@merchant) %></p>
</div>

